{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'card.css' %}">
    <title>CointTest</title>
    
</head>
<body>
    <nav>
        <img src="{% static 'Somos-Coink.svg' %}" width="100px">
        <a href="/users/all">Usuarios</a>
        <a href="/users/">Crear</a>
        <a href="/parzival/">El desarrollador</a>

    </nav>

    <br>
    <div class="content">
        
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>